.table-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.button-insert {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

.button-insert:hover {
  background-color: #3f51b5;
}

.table-controll {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 10px;
}

.table-controll th {
  background-color: #f3f3f3;
  padding: 12px;
  border: 1px solid #ccc;
}

.table-controll td {
  padding: 12px;
  border: 1px solid #ccc;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
  padding: 20px;
}
